*, html {
    margin: 0;
    padding: 0;
}

body { 
    user-select: none;
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
}

.container img {
    width: 300px;
}

.container p {
    z-index: 9999;
    margin-top: 20px ;
    margin-bottom: 20px ;

}